.userCard-content {
    // width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    // height: 70px;
    background-color: white;
    padding: 25px;
      justify-content: space-between;

    .userCard-content-text {
    
        text-align: left;
        color: #2c3e50;
        .account-amount {
            font-size: 2.5rem;
            font-weight: bold;
        }
        .account-amount-description {
            font-size: 1rem;
        }
    }
    
}
