.userCard-content {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    background-color: white;
    padding: 25px;
    justify-content: space-between;

    @media (min-width: 320px) and (max-width: 767px) {
        height: 150px;
        display: flex;
        flex-direction: column;
    }

    .userCard-content-text {
        text-align: left;
        color: #2c3e50;
        .account-amount {
            font-size: 2.5rem;
            font-weight: bold;
        }
        .account-amount-description {
            font-size: 1rem;
        }
    }
}
